
<div class="span2 ">
    <button data-action="mail" class="btn btn-invisible" role="link">
        <i class="{{icons.envelope}}"></i>
        <span class="action-label">Send Mail</span>
    </button>
</div>
<div class="span2">
    <button data-action="tag" class="btn btn-invisible" role="link">
        <i class="{{icons.favorite}}"></i>
        <span>Tag Record</span>
    </button>
</div>
<div class="span2">
    <button data-action="todo" class="btn btn-invisible" role="link">
        <i class="{{icons.calendar}}"></i>
        <span>Set Todo</span>
    </button>
</div>
<div class="span2">
    <button data-action="playback" class="btn btn-invisible" role="link">
        <i class="{{icons.youtube}}"></i>
        <span>Play video</span>
    </button>
</div>
